.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.container > * {
  max-inline-size: var(--width, var(--main-width));
  margin-inline: auto;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines,1);
  line-clamp: var(--lines,1);
}
