---
import { getCollection } from "astro:content";
import Base from "src/layouts/Base.astro";
import { displayDate } from "src/libs/date.ts";

const entries = (await getCollection("posts")).sort((a,b)=>b.data.date.getTime() - a.data.date.getTime())
---

<Base title="Accueil">
	<main>
		<ul role="list">
			{entries.map(el=>(
				<li>
					<a class="" href={`/blog/${el.slug}`}>
						<h3>{el.data.title}</h3>
						<time datetime="">{displayDate(el.data.date)}</time>
						{el.data.description && 
						<p>{el.data.description}</p>
						}
					</a>
				</li>
			))}
		</ul>
	</main>
</Base>

<style>
	main {
		max-inline-size: var(--wide-width);
		margin-inline: auto;
	}

	a{
		display: flex;
		flex-direction: column;
		align-items: baseline;
		flex-wrap: wrap;
		padding-block: var(--space-m);
		color:currentColor;
		text-decoration: none;
		column-gap: var(--space-s);
	}

	time {
		color:var(--gray-11);
	}
	
	h3{
		order: -1;
	}

	p{
		flex-basis: 100%;
		margin-block-start: var(--space-3xs);
	}

	@media (width>60rem){
		a {
			flex-direction: row;
		}
		a::before{
			content: "";
			height: 1px;
			background: var(--gray-6);
			flex-grow: 1;
		}
	}
</style>