---
import Base from "src/layouts/Base.astro";
import "src/style/index.css";
import { getWeatherData } from "src/lib/meteo.ts";
import Table from "src/components/Table.astro";

const now = new Intl.DateTimeFormat("fr-FR", {
  dateStyle: "long",
  timeStyle: "short",
  timeZone: "Europe/Paris",
}).format(Date.now());
const weatherData = await getWeatherData();
---

<Base title="Bonjour">
  <section>
    <h1>Bonjour</h1>
    <p>
      Je m'appelle Charles. Je bricole des petits jeux, des outils, des sites
      internet et d'autres trucs. Dans mes fabrications, j'essaie d'être
      économique, produire beaucoup avec peu fait partie de mes objectifs.
      J'aime internet, ça permet de partager simplement toutes sortes de trucs.
      J'aimerai plus de sites indépendants, que les gens reprennent le contrôle
      sur la façon dont ils montrent ce qu'ils font.
    </p>

    <p>
      Ce site a été déployé pour la dernière fois le {now}, il faisait {
        weatherData.temperature
      }°c {weatherData.meteoStatus && ` et ${weatherData.meteoStatus}.`}
    </p>
  </section>
  <section>
    <h2>Maintenant</h2>
    <p>
      Actuellement, je gagne ma vie en développant des sites internets. Sur mon
      temps libre, je travaille principalement sur Odyc. Une librairie et un
      site internet pour permettre à qui le veut de coder des petits jeux vidéo.
      Lorsque l'occasion se présente, j'anime des ateliers sur la création
      numérique.
    </p>
  </section>
  <section>
    <h2>Mes trucs</h2>
    <Table />
  </section>
</Base>
