---
import { getCollection } from "astro:content";
import Base from "src/layouts/Base.astro";
import { displayDate } from "src/libs/date.ts";

const entries = (await getCollection("posts")).sort((a,b)=>b.data.date.getTime() - a.data.date.getTime())
---

<Base title="Accueil">
	<main>
		<div class="hero">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quisquam quos fuga vero obcaecati beatae esse? Tenetur suscipit laborum iste magnam neque cupiditate delectus corrupti. Ipsa laudantium necessitatibus exercitationem explicabo?
			</p>
		</div>
		<ul role="list">
			{entries.map(el=>(
				<li>
					<a class="" href={`/blog/${el.slug}`}>
						<time datetime="">{displayDate(el.data.date)}</time>
						<h3 class="line-clamp">{el.data.title}</h3>
						{el.data.description && 
						<p>{el.data.description}</p>
						}
					</a>
				</li>
			))}
		</ul>
	</main>
</Base>

<style>
	main {
		max-inline-size: var(--main-width);
		margin-inline: auto;
	}

	.hero {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: var(--gutter);
		margin-block: var(--space-xl);
	}

	.hero p{
		grid-column: span 3;
	}

	li + li {
		border-block-start: 1px solid currentColor;
	}

	a{
		padding-block: var(--space-l);
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: var(--gutter);
		grid-auto-flow: column;
		text-decoration: none;
		align-items: baseline;
	}

	time {
	}
	
	h3{
		grid-column: span 2;
	}

	p{
		grid-column: span 2;
	}
</style>