<aside>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
    ></path>
  </svg>
  <div class="flow">
      <slot />
    </div>
</aside>

<style>
  aside {
    position: relative;
    background: var(--blue-3);
    border-left: 3px solid var(--blue-6);
    padding-block: var(--space-s);
    padding-inline: var(--space-m);
    color: var(--blue-12);
    /* --width: var(--popout-width); */
  }
  svg {
    --size: var(--space-l);
    width: var(--size);
    height: var(--size);
    color: var(--blue-11);
    top: calc(var(--size) * -0.5);
    left: calc(var(--size) * -0.5);
    border-radius: 9999999rem;
    background-color: var(--gray-1);
    outline: 3px solid var(--gray-1);
    position: absolute;
  }
</style>
