---
import Hamburger from "./Hamburger/Hamburger.astro";
---
<c-header>
    <header>
        <a href="/">Achtaitaipai</a>
        <Hamburger/>
    </header>
</c-header>

<script>
    import {clamp} from "src/libs/number.ts"
    customElements.define("c-header",class Header extends HTMLElement{
        #wrapper: HTMLElement
        #oldScrollY: number
        #scrollY: number
        #translateY = 0
        constructor(){
            super()
            this.#wrapper = this.querySelector("header")!
            this.#oldScrollY = window.scrollY
            this.#scrollY = window.scrollY
        }
        connectedCallback(){
            document.addEventListener("scroll",this.#handleScroll)
        }
        #handleScroll = () => {
            const maxScroll = document.body.scrollHeight - document.documentElement.clientHeight
            this.#scrollY =clamp(0,window.scrollY,maxScroll)
            const headerHeight = this.#wrapper.clientHeight
            const diff = this.#scrollY - this.#oldScrollY
            this.#translateY = clamp(0,this.#translateY + diff, headerHeight)
            this.#wrapper.style.setProperty("--_translate-y",`-${this.#translateY.toString()}px`)
            this.#oldScrollY = this.#scrollY
        }
    })
</script>

<style>
    header{
        position: sticky;
        top: 0;
        margin-inline:auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        padding-inline: var(--space-xl);
        height: var(--space-2xl);
        background-color: var(--gray-1);
        transform: translateY(var(--_translate-y));
    }
    a {
        color: currentColor;
        font-size: var(--step-2);
        text-decoration: none;
        font-weight: 600;
    }
</style>