---
export type Props = {
  before?: {
    url: string;
    title: string;
  };
  after?: {
    url: string;
    title: string;
  };
};

const { before, after } = Astro.props;
---

<div class="wrapper">
  <nav>
    {
      before && (
        <a href={before.url} class="prev">
          <div class="link-wrapper">
            <span class="arrow">&larr;</span>
            <span class="label">Précédent</span>
            <span class="title line-clamp">{before.title}</span>
          </div>
        </a>
      )
    }
    {
      after && (
        <a href={after.url} class="next">
          <div class="link-wrapper">
            <span class="label">Suivant</span>
            <span class="title line-clamp">{after.title}</span>
            <span class="arrow">&rarr;</span>
          </div>
        </a>
      )
    }
  </nav>
</div>

<style>
  .wrapper {
    max-inline-size: var(--main-width);
    margin-inline: auto;
  }
  nav {
    margin-block-start: var(--space-2xl);
    display: grid;
    max-inline-size: 66ch;
    gap: var(--space-s);
    @media (width > 55rem) {
      grid-template-columns: 1fr 1fr;
    }
  }

  a {
    flex-grow: 1;
    text-decoration: none;
    color: var(--text);
    border: 1px solid currentColor;
  }

  .next {
    grid-column: -2;
  }

  .link-wrapper {
    display: grid;
    align-items: center;
    column-gap: var(--space-s);
    padding-block: var(--space-xs);
    padding-inline: var(--space-s);
    background-color: var(--surface);
    outline: 1px solid currentColor;
    transition: transform .3s;
    .prev & {
      grid-template:
        "arrow label"
        "arrow title" / auto 1fr;
    }

    .next & {
      grid-template:
        "label arrow"
        "title arrow" / 1fr auto;
      justify-items: end;
    }
  }

  a:where(:hover, :focus-visible) .link-wrapper{
    transform: translate(-4px, -4px);
  }
  .arrow {
    grid-area: arrow;
    font-size: var(--step-1);
    transition: transform 0.3s;
  }
  .label {
    grid-area: label;
    transition: transform 0.3s 0.08s;
  }
  .title {
    grid-area: title;
    font-size: var(--step-1);
    transition: transform 0.3s 0.08s;
  }
</style>
