---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js'
import Aside from './Aside.astro'
import Now from './Now.astro'
import PenEmbed from './PenEmbed.astro'

export type Props = {
  Content: AstroComponentFactory
}

const {Content} = Astro.props
---
<section class="prose flow mx-auto">
  <Content components={{Aside, Now, PenEmbed}}/>
</section>

<style>
  .prose{
    --popout: minmax(0, var(--space-s));
    display: grid;
    grid-template-columns: [fullbleed-start popout-start] var(--popout) [content-start] min(66ch, 100%) [content-end] var(--popout) [popout-end] 1fr [fullbleed-end];
  }
</style>

<style is:global>

  .prose > * {
    grid-column: content;
  }
  .prose img {
    --flow-space: var(--space-l);
    height: auto;
    transform-origin: center;
    animation-name: fade-in;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 0% entry 80%;
  }

  .prose img + * {
    --flow-space: var(--space-l);
  }

  .prose > :where(aside, img, .expressive-code) {
    grid-column: popout;
    --flow-space: var(--space-l);
  }

  .prose > :where(aside, img, .expressive-code) + * {
    --flow-space: var(--space-l);
  }

  .prose h2,
  .prose h3,
  .prose h4 {
    --flow-space: var(--space-l);
  }

  .prose a {
    transition: color 0.2s;
  }

  .prose :not(pre) > code {
    padding: 0.2rem;
    border: 1px solid currentColor;
    font-family: var(--font-mono);
  }

  .prose hr {
    border: none;
    border-block-start: 1px solid var(--stroke);
  }

  .prose blockquote {
    position: relative;
    padding-block: var(--space-xs);
    font-size: var(--step-1);
    font-style: italic;
    line-height: 1.4;
    /* color: var(--text-shade); */
  }

  .prose blockquote :first-child {
    text-indent: 2.3rem;
  }

  .prose blockquote::before {
    content: "“";
    position: absolute;
    top: 0;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 4rem;
  }

  .prose blockquote > * + * {
    margin-block-start: 1em;
  }

  .prose li + li {
    margin-block-start: 0.8em;
  }

  .prose li > ul {
    margin-block-start: 0.8em;
  }

  @keyframes fade-in {
    from{
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
    
  }
</style>
