---
import Header from "src/components/Header.astro"
import "src/styles/index.css"
export type Props = {
    title:string
}
const {title} = Astro.props
---

<!DOCTYPE html>
<html lang="fr" class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
</head>
<body>
    <Header/>
    <slot/>
</body>
</html>